<div class="container-fluid">
	<div class="row">
		
		<article class="col-sm-12 d-flex">
			<p class="col-sm-12 text-justify">
				Software realizado como Trabajo de fin de Master del candidato a Master <span class="font-weight-bold">Eder Lara Trujillo</span> de la  <span class="font-weight-bold"><a target="_blank" href="http://colombia.unir.net/">Universidad Internacional de la Rioja UNIR</a></span> del programa: <span class="font-weight-bold"><a target="_blank" href="https://colombia.unir.net/ingenieria/maestria-visual-analytics-big-data/549201901473/">Máster Universitario en Análisis y Visualización de Datos Masivos (Visual Analytics and Big Data).</a></span><br>La aplicación es una herramienta de recolección de datos para medir el Riesgo PsicoSocial de los trabajadores de las empresas Colombianas. 
			</p>
		</article>
		<article class="col-sm-12 d-flex">
			<p class="col-sm-2 text-secondary font-weight-bold">Diseño y Desarrollo:</p>
			<p class="col-sm-7 text-justify font-weight-bold text-primary">Eder Lara Trujillo <br>
				Candidato a Máster en Analitycs View and BigData <br>
				ederlatru@gmail.com - edelatru@hotmail.com 
			</p>
			<div class="col-sm-3">
				<img src="{{ logo }}" class="img-fluid" alt="">
			</div>
		</article>
		
	</div>
</div>
