<div class="container-fluid">
	<div class="row">
		
		<article class="col-sm-12">
			<h4 class="text-primary text-left">GENERALIDADES</h4>
			<p class="col-sm-12 text-justify">
				La ley de protección de datos personales <a href="https://www.mintic.gov.co/portal/604/articles-4274_documento.pdf" target="_blank"> – Ley 1581 de 2012 – </a>es una ley que complementa la regulación vigente para la protección del derecho fundamental que tienen todas las personas naturales a autorizar la información personal que es almacenada en bases de datos o archivos, así como su posterior actualización y rectificación. Esta ley se aplica a las bases de datos o archivos que contengan datos personales de personas naturales.
			</p>
		</article>
		
		<h4 class="text-primary text-left">De la Información</h4>
		<article class="col-sm-12 row">
			<p class="col-sm-2 text-primary font-weight-bold">Información de contacto y de inicio de sesión</p>
			<p class="col-sm-10 text-justify font-weight-bold text-secondary">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis ut optio quia, beatae suscipit cumque alias nesciunt, nulla inventore ab numquam facilis veniam enim velit asperiores iusto? Velit, tenetur, dicta.
			</p>
			<p class="col-sm-2 text-primary font-weight-bold">Información demográfica</p>
			<p class="col-sm-10 text-justify font-weight-bold text-secondary">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis ut optio quia, beatae suscipit cumque alias nesciunt, nulla inventore ab numquam facilis veniam enim velit asperiores iusto? Velit, tenetur, dicta.
			</p>
			<p class="col-sm-2 text-primary font-weight-bold">Información de registro</p>
			<p class="col-sm-10 text-justify font-weight-bold text-secondary">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis ut optio quia, beatae suscipit cumque alias nesciunt, nulla inventore ab numquam facilis veniam enim velit asperiores iusto? Velit, tenetur, dicta.
			</p>
		</article>
		
		<h4 class="text-primary text-left">Modos de Uso de la Información</h4>
		<article class="col-sm-12 row">
			<p class="col-sm-2 text-primary font-weight-bold">Información de contacto y de inicio de sesión</p>
			<p class="col-sm-10 text-justify font-weight-bold text-secondary">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis ut optio quia, beatae suscipit cumque alias nesciunt, nulla inventore ab numquam facilis veniam enim velit asperiores iusto? Velit, tenetur, dicta.
			</p>
			<p class="col-sm-2 text-primary font-weight-bold">Información demográfica</p>
			<p class="col-sm-10 text-justify font-weight-bold text-secondary">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis ut optio quia, beatae suscipit cumque alias nesciunt, nulla inventore ab numquam facilis veniam enim velit asperiores iusto? Velit, tenetur, dicta.
			</p>
			<p class="col-sm-2 text-primary font-weight-bold">Información de registro</p>
			<p class="col-sm-10 text-justify font-weight-bold text-secondary">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis ut optio quia, beatae suscipit cumque alias nesciunt, nulla inventore ab numquam facilis veniam enim velit asperiores iusto? Velit, tenetur, dicta.
			</p>
		</article>
		
		<h4 class="text-primary text-left">Cómo comunicarse con nosotros</h4>
		<article class="col-sm-12 row">
			<p class="col-sm-2 text-primary font-weight-bold">Información de contacto y de inicio de sesión</p>
			<p class="col-sm-10 text-justify font-weight-bold text-secondary">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis ut optio quia, beatae suscipit cumque alias nesciunt, nulla inventore ab numquam facilis veniam enim velit asperiores iusto? Velit, tenetur, dicta.
			</p>
			<p class="col-sm-2 text-primary font-weight-bold">Información demográfica</p>
			<p class="col-sm-10 text-justify font-weight-bold text-secondary">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis ut optio quia, beatae suscipit cumque alias nesciunt, nulla inventore ab numquam facilis veniam enim velit asperiores iusto? Velit, tenetur, dicta.
			</p>
			<p class="col-sm-2 text-primary font-weight-bold">Información de registro</p>
			<p class="col-sm-10 text-justify font-weight-bold text-secondary">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis ut optio quia, beatae suscipit cumque alias nesciunt, nulla inventore ab numquam facilis veniam enim velit asperiores iusto? Velit, tenetur, dicta.
			</p>
		</article>
		
	</div>
</div>
