<section class="container-fluid">
  <div class="row">
    
    <div class="card-group mt-2">
      <div class="card mt-2 mb-2 pt-1 ">
        <h1 class="card-title display-1 text-center text-danger"><i class="fa fa-user-circle card-img-top"></i></h1>
        <div class="card-body">
          <h1 class="card-title text-center text-primary">Gestión de Usuarios</h1>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>

      <div class="card mt-2 mb-2 pt-1 text-success">
       <h1 class="card-title display-1 text-center"><i class="card-img-top fa fa-user-plus"></i></h1>
        <div class="card-body">
          <h1 class="card-title text-center text-danger">Resultado de Pruebas de Riesgo PsicoSocial</h1>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>

      <div class="card mt-2 mb-2 pt-1 ">
        <h1 class="card-title display-1 text-center text-info"><i class="fa fa-industry"></i></h1>
        <div class="card-body">
          <h1 class="card-title text-center text-success">Gestión de Empresas</h1>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>

      <div class="card mt-2 mb-2 pt-1 ">
        <h1 class="card-title display-1 text-center text-warning"><i class="fa fa-connectdevelop"></i></h1>
        <div class="card-body">
          <h1 class="card-title text-center text-info">Gestión de Intrumentos</h1>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>

  </div>
</section>